{% extends 'base.html' %}
{% block content %}

<h1 class="mt-4 mb-3 ml-5">Leave a Feedback</h1>

{% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4 mt-2 mx-auto">
                <div class="card-body">
                    <form method="post" style="margin-top: 1.3em;">
                        {{ contactus_form | crispy }}
                        {% csrf_token %}
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary btn-lg text-center">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}